<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>NASP Dashboard Prototype</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
<!-- partial:index.partial.html -->
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  </head>
  <body>
    <div class="Nav">
      <img src="https://www.nasolid.com/images/logo.png" class="NavLogo">
      <div class="DashTitle">Cashflow Dashboard</div>
    </div>
    <div id="app">
      <div class="Cards">
        <div v-for="card in cards" v-bind:id="card.id" class="InfoCard" v-on:click="toggleDetails(card)">
          <div class="SummaryInfo">
            <p class="CardTitle">{{card.title}}</p>
            <p class="CardHeadline">{{card.headline}}</p>
          </div>
          <div class="CardDetail" v-bind:class="card.detailState">
            <table class="CardDetailTable">
              <tr class="CardDetailTableHeadings">
                <th v-for="heading in card.details.headings">{{heading}}</th>
              </tr>
              <tr v-for="item in card.details.data" class="CardDetailTableData">
                <td v-for="datum in item">{{datum}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="InfoCard">
          <div class="SummaryInfo">
            <p class="CardTitle">Year To Date Cash Flow</p>
          </div>
          <div class="CardDetail">
            <canvas id="myChart" width="355" height="400"></canvas>
            
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<!-- partial -->
  <script  src="./script.js"></script>

</body>
</html>